<header>
    <img id="logo-header" src="/assets/images/logo/takana.png" alt="Logo TAKANA DRINKS">
    <nav id="lista-opciones">
        <ul>
            <li><a href="/dashboard">Inicio</a>
            <a href="/dashboard/get">Get Prod</a>
            <a href="/dashboard/post">Crear</a>
            <a href="/dashboard/put">Editar</a></li>
        </ul>
    </nav>
    <button class="btn-terciario btn-admin" onclick="window.location.href='/login'">Admin</button>
</header>