<header>
    <img id="logo-header" src="../assets/images/logo/takana.png" alt="Logo TAKANA DRINKS">
    <nav id="lista-opciones">
        <ul>
            <a href="get">Get Prod</a>
            </li>
        </ul>
    </nav>
    <button class="btn-terciario btn-admin" onclick="window.location.href='/* RUTA LOCAL HOST */'">Admin</button>
</header>