<header>
    <img id="logo-header" src="/assets/images/logo/takana.png" alt="Logo TAKANA DRINKS">
    <nav id="lista-opciones">
        <ul>
            <li><a href="/login/index">Inicio</a>
            <a href="/login/get">Productos</a>
            <a href="/login/post">Crear</a>
            <a href="/login/put">Editar</a></li>
        </ul>
    </nav>
    <button class="btn-terciario btn-admin" onclick="window.location.href='/login'">Admin</button>
</header>
<body>
