/* Variables globales */

@font-face {
    font-family: "Bebas";
    src: url("../assets/fonts/BebasNeue-Regular.ttf");
}

:root {
/* Colores */
    --color-primario: #BE3144;
    --color-secundario: #F05941;
    --color-terciario: #872341;
    --color-fondo: #22092C;
    --color-texto: #FFFFFF;

/* Botones */
    --color-btn-primario: #FF6F61;
    --color-btn-primario-hover: #E55B50;
    
    --color-btn-secundario: transparent;
    --color-btn-secundario-borde: #FF6F61;
    --color-btn-secundario-texto: #FF6F61;
    --color-btn-secundario-hover-bg: #FF6F61;
    --color-btn-secundario-hover-texto: #FFFFFF;

/* Tipografia */
    --fuente-principal: "Bebas";

/* Tamaños letras*/
    --tamaño-base: 16px;
    --tamaño-titulo: 2.5rem;
    --tamaño-subtitulo: 1.5rem;
    --tamaño-texto: 1rem;

/* Bordes */
    --radio-borde: 10px;

/* Sombras */
    --sombra: 0 4px 6px rgba(0, 0, 0, 0.1);
}   

body.tema-claro {
    --color-fondo: #F5F5F5;
    --color-texto: #1a1a1a;
    --color-primario: #E8A0B4;
    --color-terciario: #D4607A;
    --color-fondo-card: #e0e0e0;
    }