
li{
    list-style: none;
}

header {
    display: flex;
    padding: 10px 20px;
    box-shadow: 0 10px 5px #0000001a;
    background-color: white;
    /* border: 2px solid; */
    align-items: center;
}
#icono-principal {
    width: 12%;
    height: 90%;
    /* border: 2px solid; */
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-optical-sizing: auto;
    background-color: #8CC0EB;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#barra-navegacion {
    display: flex;
    align-items: center;
    /* border: 2px solid; */
    height: 50px;
    padding-top: 7px;
}

a {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    /* color: white; */
    font-size: 20px;
}

section {
    /* background-color: #BFDDF0 ; */
    display: flex;
    width: 800px;
    height: 300px;
    margin-top: 5%;
    margin-left: 4%;
    /* border: 2px solid; */
}

#listado-remeras {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 15px
}

.li-remeras {
    /* border: 2px solid; */
    background-color: #BFDDF0 ;
    height: 100%;
    width: 200px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.imagen-producto {
    width: 90%;
    height: 60%;
    /* border: 1px solid; */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.nombre-producto,
.precio-producto{
    text-align: left;
    margin-left: 5%;
    margin-top: 2%;
}